body {
  font-family: sans-serif;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 90vw;
  min-height: 80vh;
  margin: 20px auto;
  padding: 20px;
}
.dropzone.highlight {
  border-color: purple;
}


.success::before { content: '✔'; color: green; }
.error::before { content: '❌'; color: red; }

/* loading indicator */

@keyframes spinner {
  to { transform: rotate(360deg); }
}

[aria-busy] {
    pointer-events: none;
    opacity: 0.7;
}

.spinner:before, [aria-busy]::after {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}


p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}


table.skipped {
  border-collapse: collapse;
  width: 100%;
}

table.skipped td {
  border: 1px solid #ddd;
  padding: 8px;
}

table.skipped tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.skipped tr:nth-child(odd) {
  background-color: #ddd;
}

table.skipped tr:hover {
  background-color: #ddd;
}
